body {
    background-image: url("../../../leidenschaft_M152/public/images/background_index.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



h1 {
    font-size: 55px;
    font-weight: bold;
}