/* Navbar
============================================================================================ */
.nav-style {
    background-color: rgba(0, 0, 0, 0.6);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropimp {
    pointer-events: none;
}

/* Main
============================================================================================ */
html {
    scroll-behavior: smooth;
    position: relative !important;
    min-height: 100%;
}

main {
    width: 100%;
}

.center-align {
    min-height: 50vh;
}

body {
    background-color: #7fadec;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1200px) {
    .container {
        max-width: 2000px;
    }
}

@media (min-width: 1620px) {
    .container.box_1620 {
        max-width: 1650px;
    }
}

.title {
    text-align: center;
    background-color: rgba(179, 197, 217, 0.2);
    padding: 5px;
}

.p_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}


/* Video
============================================================================================ */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1024px) {
    iframe {
        width: 85vw;
    }
}

/* Impression
============================================================================================ */
.gallery_f_inner {
    margin-bottom: -30px;
}

.h_gallery_item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}



.h_gallery_item img {
    width: 100%;
}

.h_gallery_item video {
    width: 100%;
}

.filler_50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Footer
============================================================================================ */
.footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    height: min-content;
    background-color: rgba(0, 0, 0, 0.6) !important;
    clear: both;
}
