/* Index
============================================================================================ */

html {
    scroll-behavior: smooth;
    position: relative !important;
    min-height: 100%;
}

body {
    background-image: url("../images/background_index.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-style {
    background-color: rgba(0, 0, 0, 0.4);
}

main {
    width: 100%;
}

.center-align {
    min-height: 50vh;
}

.title {
    text-align: center;
    background-color: rgba(179, 197, 217, 0.4);
    padding: 5px;
}

h1 {
    font-size: 75px;
}

.footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    height: min-content;
    background-color: rgba(0, 0, 0, 0.4) !important;
    clear: both;
}