
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropimp {
    pointer-events: none;
}


/* Index
============================================================================================ */

html {
    scroll-behavior: smooth;
    position: relative !important;
    min-height: 100%;
}

body {
    background-image: url("../images/background_index.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-style {
    background-color: rgba(0, 0, 0, 0.6);
}

main {
    width: 100%;
}

.center-align {
    min-height: 50vh;
}

.title {
    text-align: center;
    background-color: rgba(179, 197, 217, 0.2);
    padding: 5px;
}

h1 {
    font-size: 75px;
}

.footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0 !important;
    width: 100%;
    height: min-content;
    background-color: rgba(0, 0, 0, 0.6) !important;
    clear: both;
}
